<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HostReportManager" value="localhost"/>
		<add key="PuertoReportManager" value="7253"/>
		<add key="TipoConexion" value="2"/>
		<add key="Empresa" value="100"/>
		<add key="Empresa_Sec" value="100"/>
		<add key="Agente.Default.Denominacion" value="TEST" />
		<add key="Agente.Default.Direccion" value="Calle Falsa 123." />
		<add key="Agente.Default.Iva" value="Responsable Inscripto" />
		<add key="Agente.Default.Cuit" value="33-1234567-9" />
	</appSettings>
</configuration>